@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Unna:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #1C3341;
    --pop-color: #E94E33;
    --pop-muted-color: #fef6f5;
    --border-form: #f8ebe2;
    --border-rating: #DBDBDB26;
    --bg-primary: #ffffff;
    --bg-secondary: #f4f6fb;
    --header-font: 'Unna', serif;
    --detail-font: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    color: var(--dark-color);
    font-size: 1.5rem;
    max-width: 192rem;
}

.h-font,
.place {
    font-family: var(--header-font);
}

.detail-font,
a,
label,
button,
p {
    font-family: var(--detail-font);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

.flex-center,
section,
.solutions,
.solutions li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav {
    padding: 1.2rem;
    min-height: 9.7rem;
    justify-content: space-around;
}

.nav li {
    font-size: 1.4rem;
    padding: 1rem;
    list-style: none;
    border-bottom: 3px solid transparent;
    transition: .5s;
}

.nav li:hover {
    border-bottom: 3px solid var(--pop-color);
}


.menu {
    display: none;
}

.contact img {
    padding: 0 1rem 1rem 0
}

.phone {
    display: block;
    color: var(--pop-color);
    font-size: 3rem;
    font-weight: 600;
}

section {
    padding: 5rem 10%;
    flex-direction: column;

}

/* hero section */
.hero {
    min-height: 77.4rem;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 20%, rgba(0, 0, 0, 0) 50%), url(./src/grey-marble-column-details-building\ 1.png);
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
}

#person {
    position: relative;
    bottom: -5rem;
    z-index: 0;
}

.details {
    color: var(--bg-primary);
}

h1 {
    font-size: 7rem;
    font-weight: 400;
}

.bold {
    display: block;
    font-weight: 600;
}

.solutions {
    padding: 2.5rem 0;
}

.solutions li {
    justify-content: flex-start;
    padding: 1rem 7rem 1rem 0;
    list-style-type: none;
    font-weight: 600;
    font-size: 2rem;
}

.solutions li img {
    padding-right: 0.5rem;
}

.contact-form {
    padding: 3.1rem;
    background-color: var(--bg-primary);
    border-radius: 5px;
    z-index: 1;
}

.contact-form * {
    display: block;
    width: 100%;
}

label {
    padding-top: 2rem;
}

input,
textarea {
    padding: 1rem;
    height: 4rem;
    background-color: var(--pop-muted-color);
    border: 2px solid var(--border-form);
    border-radius: 5px;
}

.form-name {
    display: grid;
    grid-template:
        'lb1 lb2'
        'inp1 inp2';
    gap: 0 1.5rem;
}

.form-name * {
    width: 17rem;
}

#fn {
    grid-area: lb1;
}

#ln {
    grid-area: lb2;
}

#first-name {
    grid-area: inp1;
}

#last-name {
    grid-area: inp2;
}

#case {
    resize: none;
    height: 10.4rem;
}

button {
    color: var(--bg-primary);
    background-color: var(--pop-color);
    margin-top: 2rem;
    padding: 1.1rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-weight: 600;
}

button a {
    color: var(--bg-primary);
}

button:hover {
    border: 2px solid var(--dark-color);
    opacity: 0.9;
}



.send {
    width: 11.9rem;
}

.redinfo {
    color: var(--pop-color);
    font-size: 2rem;
    padding: 1rem;
}

.awards img {
    padding: 2rem 3.5rem;
}

/* about section */
.about {
    background-color: var(--bg-secondary);
}

.vid {
    position: relative;
    max-width: 72.5rem;
    max-height: 41.2rem;
    margin: 5rem 0;
}

video {
    width: 100%;
}

.controls {
    width: 15%;
    position: absolute;
    top: 40%;
    left: 43%;
}

#circle {
    width: 100%;
}

#triangle {
    width: 20%;
    position: absolute;
    top: 31%;
    left: 44%;
}

.about h2,
.about p {
    padding: 1rem 10rem;
    text-align: center;
}

.heading-font {
    font-size: 2rem;
}

.heading-font .redinfo {
    padding: 0;
}

h2 {
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
}

form h3,
.red {
    font-size: 3.1rem;
    text-align: center;
}

.red {
    color: var(--pop-color);
    font-weight: 600;
}

.cell-phone {
    margin: 5rem 0;
    font-size: 3.1rem;
    color: var(--bg-primary);
    background-color: var(--dark-color);
    padding: 1.7rem 6rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--pop-color);
}

.carousel {
    gap: 3rem;
    flex-wrap: nowrap;
}

/* custom class for auto scrolling image carousel*/
.carousel-auto {
    overflow-x: hidden;
    justify-content: flex-start;
}

.carousel-auto-child {
    flex: 0 0 auto;
    width: 100%;
    animation: scroller 5s infinite;
}

@keyframes scroller {
    to {
        transform: translateX(-100%);
    }
}



.image {
    padding: 4rem 0 2rem 0;
    position: relative;

}

.image>img,
.post>img {
    width: 100%;
}

figcaption {
    background-image: linear-gradient(rgba(0, 0, 0, 0), var(--dark-color));
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 25rem 0 4rem;
    bottom: 3.6%;
    font-size: 3.4rem;
    color: var(--bg-primary);
}

.dot {
    width: 1.4rem;
    aspect-ratio: 1;
    background: red;
    margin: 0.5rem;
    border-radius: 50%;
}

.opinion {
    text-align: center;
    color: var(--bg-primary);
    background-image: url(./src/IMG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-color);
}

.opinion h2 {
    width: 59%;
}

.ratings {
    padding: 5rem 0;
}

.rating {
    border: 1px solid var(--border-rating);
    border-radius: 5px;
    padding: 6rem 6rem 5rem;
    width: 49%;
    background-color: rgba(255, 255, 255, .1);
}

.client-opinion,
.posttext {
    line-height: 2.3rem;
}

.stars {
    padding: 1rem;
}

.case-eval {
    background-image: url(src/european-style-roman-column-1920x1200\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.post {
    padding: 5rem 0;
    max-width: 48.6rem;
}

.posttitle {
    font-size: 3.2rem;
    font-weight: 400;
    padding: 2rem 0 1rem;
}

.postdate {
    color: var(--pop-color);
    padding-bottom: 2rem;
}

.postlink {
    color: var(--pop-color);
    display: block;
    padding-top: 3rem;
    text-align: right;
}

.footer {
    background-color: var(--pop-color);
    background-image: url(./src/IMG-1.png);
    background-repeat: no-repeat;
    color: var(--bg-primary);
    padding-bottom: 0;
}

.footer * {
    list-style: none;
    color: var(--bg-primary);
    line-height: 2.5rem;
}

.footer-column {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 3rem;
}

.footer-column>div {
    padding-top: 3rem;
}

.footer h4,
.footer img {
    padding-bottom: 1rem;
    font-size: 3.1rem;
    font-weight: 400;
}

.footer li,
.place,
.social p {
    padding: 2rem 4rem 0 0;
}

.place {
    font-size: 2.1rem;
}

.footer-about {
    width: 40rem;
}

.footer .phone {
    padding: 2rem 0 4rem 0;
}

.s-links {
    padding-right: 2rem;
}

.line {
    background-color: var(--pop-muted-color);
    width: 100%;
    height: 1px;
    border: none;
}

.copyright {
    padding: 4rem 0;
    font-size: 1.8rem;
}

@media only screen and (max-device-width: 480px) {
    html {
        font-size: 55%;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    button {
        font-size: 1.8rem;
    }

    section {
        padding: 3rem 5%;
        flex-direction: column;
    }

    .nav {
        min-height: 5rem;
        justify-content: space-between;

    }

    .nav ul {
        border-radius: 0 0 0 1rem;
        background-color: var(--bg-primary);
        position: fixed;
        top: calc(5rem + (1.2rem * 2));
        right: 0;
        flex-direction: column;
        z-index: 2;
        width: 0;
        transition: 0.3s ease-in-out;
        height: calc(100vh - (5rem + (1.2rem * 2)));

    }

    .menu {
        padding: 0 1rem;
        position: fixed;
        background: none;
        display: block;
        margin: 0;
        transition: 0.3s ease-in-out;
        right: 0;
    }

    .menu:hover {
        border: none;
        opacity: 1;
    }

    .show {
        width: 7rem;
    }

    .hide {
        width: 0rem;
    }

    .hide>.bar {
        margin: 0;
    }

    .hide>.bar:first-child {
        transform-origin: 100%;
        transform: translate(1.5rem, 0.5rem) rotate(30deg);
        width: 3rem;
    }

    .hide>.bar:last-child {
        transform-origin: 100%;
        transform: translate(1.5rem, -0.5rem) rotate(-30deg);
        width: 3rem;
    }

    #logo {
        width: 20rem;
    }

    .bar {
        display: block;
        width: 100%;
        background: var(--dark-color);
        padding-top: .5rem;
        margin: .7rem 0;
        border-radius: 5px;
    }

    .hero {
        background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.55) 50%, rgba(0, 0, 0, 0) 80%), url(./src/grey-marble-column-details-building\ 1.png);

    }

    .details {
        padding-bottom: 2rem;
    }

    #person {
        order: -1;
        bottom: 1.5rem;
        width: 25rem;
    }

    .solutions {
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .awards img {
        padding: 1rem;

    }

    .awards div {
        justify-content: space-between;
        padding: 3rem;
    }

    .about h2,
    .about p {
        padding: 1rem 4rem;
    }

    .cell-phone {
        margin: 2rem 0;
        padding: 2rem;
    }

    .image {
        padding: 2rem 0;
    }

    .ratings {
        padding: 3rem 0;
    }

    .rating {
        width: 95%;
        padding: 4rem 4rem 3rem;
    }

    .post {
        padding: 3rem 0 0 0;
    }

    .footer-column {
        padding-bottom: 0;
    }

    .footer-column>div {
        width: 100%;
        padding: 0 0 4rem 0;
    }

    .links>div {
        justify-content: flex-start;
    }

    .copyright {
        font-size: 1.5rem;
        padding: 2rem 0;
    }

}

@media only screen and (device-width: 768px) {}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {}